.item-container {
  width: 300px;
  min-width: 280px;
  height: 520px;
  border: 0.5px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

.item-img {
  width: 90%;
  height: 90%;
}

.image-container {
  background-color: rgb(216, 216, 216);
  height: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.item-text-container {
  height: 50%;
}

.item-description {
  margin-left: 10px;
  padding-top: 8px;
  width: 95%;
}

.stars, .half-star, .empty-stars {
  color: darkorange;
}

.half-star {
  margin-top: -3px;
  margin-left: 0.5px;
  width: 15px;
}

.empty-stars {
  margin-left: 0.5px;
}

.reviews {
  margin-left: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.price {
  margin-left: 10px;
  margin-top: 10px;
}

.delivery-date {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
}

.item-buttons {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 13px;
  padding: 7px;
  border: none;
  background-color: rgb(249, 216, 5);
  border-radius: 20px;
  /* add box shadow */
}

.item-buttons:last-of-type {
  margin-top: 10px;
  background-color: rgb(249, 164, 7);
}

.item-buttons:first-of-type:hover {
  background-color: rgb(241, 211, 13);
}

.item-buttons:last-of-type:hover {
  background-color: rgb(240, 161, 14);
}

.items-row {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.currency-abbrev {
  font-size: 15px;
  font-weight: normal;
}
